
<div class="outer">

<mat-card>  
<div class="main-container">
    <div id ="left">
        <div id="rate"> 
            <h3>USD-INR: {{inrRate}}</h3>
        </div>
        <div>
            <p>
                open: {{inrRate}}
            </p>
            <p>
                close: {{closeRate}}
            </p>
            <p>
                high: {{highRate}}
            </p>
            <p>
                low: {{lowRate}}
            </p>

        </div>
    </div>
    <div id="right">

       
<div>

    <h4>Button Toggle inside of a Template-driven form</h4>
    <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" (change)="oneyear()">1 year</mat-button-toggle>
      <mat-button-toggle value="italic" (change)="sixmonth()" >6 months </mat-button-toggle>
      <mat-button-toggle value="underline" (change)="threemonth()">3 months </mat-button-toggle>
    </mat-button-toggle-group>


    <br />
        <!-- You have selected : {{ toggleBtn.value }} -->
    </div>
    
        <canvas id='currencyChart'></canvas>

    </div>
</div>
</mat-card>
</div>


