<div class="outer">
    <mat-card class="card">
    <div class="main">
    <div class="heading" >
        <p>Fourth Signal</p>
    </div>
    <div class="text"> 
        <p>An experienced SAP Treasury Consulting firm with in-depth domain knowledge, Fourth Signal has implemented robust, scalable and flexible platform-based solutions for large as well as medium-sized company operations both in India and abroad. Our smart solutions deliver intuitive analytics, seamless business processes and advanced risk management.</p>
        <p>An experienced SAP Treasury Consulting firm with in-depth domain knowledge, Fourth Signal has implemented robust, scalable and flexible platform-based solutions for large as well as medium-sized company operations both in India and abroad. Our smart solutions deliver intuitive analytics, seamless business processes and advanced risk management.</p>
        <p>An experienced SAP Treasury Consulting firm with in-depth domain knowledge, Fourth Signal has implemented robust, scalable and flexible platform-based solutions for large as well as medium-sized company operations both in India and abroad. Our smart solutions deliver intuitive analytics, seamless business processes and advanced risk management.</p>
        <p>An experienced SAP Treasury Consulting firm with in-depth domain knowledge, Fourth Signal has implemented robust, scalable and flexible platform-based solutions for large as well as medium-sized company operations both in India and abroad. Our smart solutions deliver intuitive analytics, seamless business processes and advanced risk management.</p>
        
    </div>
    <img  class="images" src="../assets/images/image.jpeg"  />
    <div class="img">
    </div>

</div>
</mat-card>

</div>