
<div class="outer">

    <mat-card>  
    <div class="main-container">
        <div id ="left">
            <div id="rate"> 
                <h3>JPY-INR : </h3>
                <!-- <h1>{{inrRate}}</h1> -->
                <h1></h1>
            </div>
            <div>
                <p>
                    open:
                </p>
                <p>
                    close:
                </p>
                <p>
                    high:
                </p>
                <p>
                    low:
                </p>
    
            </div>
        </div>
        <div id="right">
            <canvas id='currencyChart'></canvas>
    
        </div>
    </div>
    </mat-card>
    </div>
    
    
    